.gameContentContainer {
    width: 90%;
    min-height: 1966px;
    
    margin: 0 auto;
    padding: 2rem;

    background-color: #FDE2C4;
    filter: drop-shadow(0 0.25rem 0.25rem rgba(0,0,0,0.25));
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gameContentContainer h2 {
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    color: #4C352F;
    filter: drop-shadow(0 0.125rem 0.125rem rgba(0,0,0,0.25));
    text-align: center;
}

.gameContentContainer p {
    font-size: 1rem;
    padding: 0.5rem 0;
    color: #4C352F;

    font-weight: 500;
    text-align: center;
}

.headingContainer {
    width: 100%;
    max-width: 517px;
    height: 56px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.colorDivider {
    width: 100%;
    height: 6px;

    background-color: #FFC66C;
    filter: drop-shadow(0 0.125rem 0.125rem rgba(0,0,0,0.25));
}

.instructionsContainer {
    width: 100%;
    max-width: 517px;
    height: 488px;

    margin: 0 auto;
}

.gameContainer {
    width: 100%;
    max-width: 580px;

    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreBoard {
    width: 100%;
    max-width: 517px;
    height: 128px;
    margin: 0 auto;
    display: flex;
}

.scoreBoardPoints {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreBoardPoints h3, .scoreBoardPoints p {
    font-size: 2rem;
    font-weight: 400;
    color: #4C352F
}

.gameBoardContainer {
    width: 100%;
    /* TODO: MAKE DYNAMIC WHEN WINDOW RESIZES */
    height: 708px;

    /* #4C352F in rgb */
    /* background-color: rgba(76, 53, 47, 0.5); */
}

.highscoreContainer {
    width: 100%;
    max-width: 517px;
    height: 228px;

    margin: 0 auto;
}

.playerHighscoreTitle {
    width: 100%;
    height: 50px;

    font-size: 2rem;
    font-weight: 400;

    margin-top: 9px;

    color: #4C352F;
    text-align: center;
}

.playerHighscore {
    width: 100%;
    max-width: 517px;
    height: 84px;

    display: flex;
    text-align: center;
}

.playerHighscoreContent {
    width: 100%;
    height: 128px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.playerHighscoreContent h3 {
    font-size: 1.625rem;
    font-weight: 400;
    color: #4C352F
}

.highscoreListContainer {
    width: 100%;
    max-width: 517px;
    height: 246px;
    margin: 0 auto;
    
}

.highscoreList {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.highscoreList th {
    font-size: 1.625rem;
    font-weight: 400;
}

.highscoreList th:nth-child(1) {
    width: 34%;
    height: 46px;

    text-align: left;
}

.highscoreList th:nth-child(2) {
    width: 24%;
    height: 46px;

    /* #4C352F in rgb */
    border-left: 5px solid rgba(76, 53, 47, 0.8);
    border-right: 5px solid rgba(76, 53, 47, 0.8);

    text-align: center;
}

.highscoreList th:nth-child(3) {
    width: 24%;
    height: 46px;

    border-left: 5px solid rgba(76, 53, 47, 0.8);
    border-right: 5px solid rgba(76, 53, 47, 0.8);

    text-align: center;
}

.highscoreList th:nth-child(4) {
    width: 18%;
    height: 46px;

    text-align: right;
}

.highscoreList td {
    /* #4C352F in rgb */
    border-top: 5px solid rgba(76, 53, 47, 0.8);   
}

.highscoreList td:nth-child(1) {
    text-align: left;
}

.highscoreList td:nth-child(2) {
    /* #4C352F in rgb */
    border-left: 5px solid rgba(76, 53, 47, 0.8);
    border-right: 5px solid rgba(76, 53, 47, 0.8);

    text-align: center;
}

.highscoreList td:nth-child(3) {
    /* #4C352F in rgb */
    border-left: 5px solid rgba(76, 53, 47, 0.8);
    border-right: 5px solid rgba(76, 53, 47, 0.8);

    text-align: center;
}

.highscoreList td:nth-child(4) {
    /* #4C352F in rgb */
    border-top: 5px solid rgba(76, 53, 47, 0.8); 
    
    text-align: center;   
}