.contentContainer {
    width: 100%;
    max-width: 1248px;
    height: 100%;
}

.contentBoxContainer {
    width: 100%;
    height: 636px;

    /* TODO: REPLACE BG-Color WITH SVG IN BOT*/
    background-color: #FDE2C4;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contentBoxContainer h2 {
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    color: #4C352F;
    filter: drop-shadow(0 0.125rem 0.125rem rgba(0,0,0,0.25));
}

.contentBoxContainer p {
    font-size: 1rem;
    padding: 0.5rem 0;
    color: #4C352F;
    font-weight: 500;
}

.innerContentContainer {
    width: 517px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innerLeft {
    padding-bottom: 50px;
}

.innerRight {
    padding-top: 50px;
}

.botContent {
    margin-top: 1.5rem;
}

.headingContainer {
    width: 100%;
    height: 56px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.colorDivider {
    width: 100%;
    height: 6px;

    filter: drop-shadow(0 0.25rem 0.25rem rgba(0,0,0,0.25));
}

.topContent .colorDivider {
    background-color: #F78632;
}

.botContent .colorDivider {
    background-color: #FFC66C;
}
