.contentContainer {
    width: 100%;
    max-width: 1248px;
    height: 100%;
}

.contentBoxContainer {
    width: 100%;
    height: 636px;

    background-color: #FDE2C4;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contentBoxContainer h2 {
    font-size: 40px;
    font-weight: 700;
    color: #4C352F;
}

.contentBoxContainer p {
    font-size: 1rem;
    padding: 0.5rem 0;
    color: #4C352F;
}

.innerContentContainer {
    width: 517px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innerLeft {
    padding-bottom: 50px;
}

.innerRight {
    padding-top: 50px;
}

.midContent {
    margin: 1.5rem 0;
}

.colorDivider {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;

    background-color: #F78632;
}

/* Same styling as Styledbutton-component */
button {
    width: 300px;
    height: 100px;
    
    border-radius: 20px;

    background-color: #4C352F;
    color: #F78632;

    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    
    display: flex;
    align-items: center;
    justify-content: center;

    align-self: center;

    cursor: pointer;
}